<launch>

    <arg name="model" default="$(find marrtinox_description)/urdf/marrtinox.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find marrtinox_description)/rviz/urdf.rviz" />


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
    <param name="robot_description" command="xacro $(arg model)"/>
    <node type="robot_state_publisher" name="robot_state_publisher" pkg="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  </launch>
